<ion-content>


  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>

      <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>
        

          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label>Nombre y Apellido</ion-label>
                    <ion-input name="name"
                                type="name"
                                [(ngModel)]="loginUser.name"
                                required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label >Número de Documento</ion-label>
                    <ion-input name="documento"
                                type="documento"
                                [(ngModel)]="loginUser.documento"
                                required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Fecha de Nacimiento</ion-label>
                    <ion-datetime 
                                  display-format="YYYY-MM-DD"
                                  min="2001-01-01"
                                  max="2019-07-30"
                                  required>

                    </ion-datetime>
                      
                    
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          shape="round"
                          
                          >
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    


    </ion-slide>

    <ion-slide>

      
      <ion-grid fixed>
            <ion-row>
              <ion-col>
                  <h3>Seleccione Avatar</h3>
              </ion-col>
            </ion-row>
            <!-- Avatar Selector -->
            <ion-row>
              <ion-col>
                  <ion-slides>
                  <ion-slide *ngFor="let avatar of avatars">
                      <ion-img class="pick-avatar" 
                              src="/assets/avatars/{{ avatar.img }}"
                              [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}"
                              (click)="seleccionAvatar( avatar )"></ion-img>
                  </ion-slide>
                  </ion-slides>
              </ion-col>
            </ion-row>
        
            <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
                <ion-row>
                    <ion-col>
                        
                        <ion-list>
                            
                            <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input name="email" 
                                        type="email"
                                        [(ngModel)]="registerUser.email"
                                        required></ion-input>
                            </ion-item>

                            <ion-item>
                            <ion-label position="floating">Nombre</ion-label>
                            <ion-input name="nombre"
                                        type="text"
                                        [(ngModel)]="registerUser.nombre"
                                        required></ion-input>
                            </ion-item>

                            <ion-item>
                            <ion-label >Password</ion-label>
                            <ion-input name="password"
                                        type="password"
                                        [(ngModel)]="registerUser.password"
                                        required></ion-input>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round">
                        Crear usuario
                    </ion-button>
                </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>
  
  
      </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="tertiary"
                      (click)="mostrarRegistro()">
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary"
                    (click)="mostrarLogin()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>