<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title >
      <h2 color="tertiary-shade">Home prueba edisson</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
